.container {
  background-color: #dd76a5;
  width           : 100%;
}

.box-content {
  background: linear-gradient(
    350.58deg,
    #8593ef 5.23%,
    rgba(133, 147, 239, 0) 82.89%
  );
  height    : 100%;
  padding   : 66px 41px 98px 31px;
  width     : 100%;
  text-align: center;
}

.text-welcome {
  color      : #fff;
  font-weight: 700;
  font-size  : 27px;
  line-height: 33px;
}

.login-img {
  height       : 100%;
  margin-bottom: 16.32px;
  object-fit   : contain;
  width        : 100%;
}

.form-login {
  align-items    : center;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  width          : 100%;
}

.form-input {
  background-color: #e4eafe;
  border-radius   : 30px;
  border          : none;
  color           : #2c4271;
  font-weight     : 400;
  font-size       : 14px;
  height          : 58px;
  line-height     : 17px;
  margin-bottom   : 39px;
  outline         : none;
  padding         : 0px 27px;
  width           : 100%;
}

.form-btn {
  background   : #6c7be8;
  box-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border       : none;
  color        : #e5e9ff;
  font-weight  : 700;
  font-size    : 20px;
  height       : 63px;
  line-height  : 24px;
  outline      : none;
  width        : 232px;
}
