.container {
  bottom: 0;
  background-color: #D6D6FE;
  height: 89px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.box-nav {
  align-items: center;
  background: radial-gradient(70.33% 1341.4% at 29.67% 35.71%, rgba(255, 255, 255, 0.35) 0%, #D6D6FE 100%);
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0px 35px;
  width: 100%;
}
.btn-nav {
  background-color: transparent;
  border: none;
  outline: none;
}
.btn-active {
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 3px;
}