.container {
  background-color: #D6D9FE;
  height          : 100%;
  left            : 0;
  position        : absolute;
  width           : 100%;
  top             : 0;
}

.header-detail {
  align-items    : center;
  display        : flex;
  justify-content: space-between;
  margin-top     : 83px;
  padding        : 0px 47px;
  width          : 100%;
}
.text-header {
  color      : #2C4271;
  font-weight: 700;
  font-size  : 18px;
  line-height: 22px;
  text-align : center;

}
.btn-header {
  align-items    : center;
  border-radius  : 50%;
  background     : #D5DBFE;
  box-shadow     : inset -3px -3px 6px rgba(255, 255, 255, 0.52), inset 3px 3px 6px rgba(122, 145, 255, 0.18);
  border         : none;
  display        : flex;
  justify-content: center;
  height         : 45.14px;
  outline        : none;
  width          : 45.14px;
}

.box-img {
  align-items    : center;
  border-radius  : 50%;
  background     : #D5DFFE;
  box-shadow     : -9px -9px 20px #FFFFFF, 9px 9px 20px rgba(0, 0, 0, 0.35);
  display        : flex;
  justify-content: center;
  margin         : 50px auto;
  height         : 260px;
  width          : 260px;

}
.img-track {
  border-radius: 50%;
  height       : 90%;
  object-fit   : contain;
  width        : 90%;
}

.box-info-track {
  width     : 100%;
  text-align: center;
}
.title-track {
  color        : #2C4271;
  font-weight  : 700;
  font-size    : 18px;
  line-height  : 22px;
  margin-bottom: 10px;
  text-align   : center;


}
.track-author {
  color      : #6A88AC;
  font-weight: 500;
  font-size  : 18px;
  line-height: 22px;
  text-align : center;
}

.bar-control {
  display: inherit;
  margin: 10px auto;
  height: 6px;
  width: 312px;
 
}
.box-btn-ctrl {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding:0px 70px;
}
.btn-ctrl,.btn-toggle {
  border-radius: 50%;
  border: none;
  height: 63px;
  outline: none;
  width: 63px;
}
.btn-ctrl {
  background: #D5DBFE;
  box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.52), inset 3px 3px 6px rgba(122, 145, 255, 0.18);
}
.btn-toggle {
  background: #6C7BE8;
  box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.27), inset 3px 3px 6px rgba(0, 31, 255, 0.42);
}