.container-item {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 17px;
  padding: 0px 41px 0px 26px;

}

.item-btn {
  align-items: center;
  background: #d5dffe;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-width: 40.82px;
  min-height: 40.82px;
  outline: none;
  &:nth-child(1) {
    margin-right: 22px;
  }
}
.item-btn-play {
  box-shadow: -2px -2px 4px #ffffff, 2px 2px 4px rgba(0, 0, 0, 0.35);
}

.item-btn-heart {
  box-shadow: inset -2px -2px 2px rgba(255, 255, 255, 0.49),
    inset 2px 2px 2px rgba(0, 0, 0, 0.17);
}

.item-title {
  margin-right: 10px;
  overflow: hidden;
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
