.container {
  height   : 100%;
  left     : 50%;
  position : relative;
  width    : 100%;
  transform: translateX(-50%);
}
.input-custom {
  background-color  : #fff;
  border-radius     : 10px;
  position          : absolute;
  height            : 100%;
  left              : 0;
  margin            : 0;
  outline           : none;
  padding           : 0;
  width             : 100%;
  top               : 0;
  -webkit-appearance: none;
}

.input-custom::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor            : pointer;
  height            : 16px;
  position          : relative;
  width             : 16px;
  z-index           : 3;
}

.selector {
  height   : 16px;
  left     : 0;
  position : absolute;
  width    : 16px;
  top      : 50%;
  transform: translate(-50%, -50%);
  z-index  : 2;
}

.btn-selected {
  border-radius: 50%;
  background   : #6c7be8;
  box-shadow   : inset -3px -3px 6px rgba(255, 255, 255, 0.27),
    inset 3px 3px 6px rgba(0, 31, 255, 0.42);
  bottom  : 0;
  height  : 100%;
  width   : 100%;
  position: absolute;
}

.propress-bar {
  height          : 100%;
  border-radius   : 10px;
  background-color: #6c7be8;
  left            : 0;
  outline         : none;
  position        : absolute;
  width           : 0;
  top             : 0;
}
