* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.container {
  height: 100vh;
  max-height: 844px;
  max-width: 400px;
  min-width: 320px;
  position: relative;
  overflow: hidden;
  width: 100vw;
}

button {
  cursor: pointer;
}
iframe {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

