.container {
  background-color: #d6d9fe;
  height: 100%;
  position: relative;
  width: 100%;

}

.container-loading {
  align-items: center;
  background-color: #d6d9fe;
  display: flex;
  justify-content: center;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
}

.box-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45%;
  max-height: 45%;
  margin-bottom: 36px;
}
.author-name {
  color: #2c4271;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-top: 53px;
  margin-bottom: 14px;
  text-align: center;
}

.track-name {
  color: #6a88ac;
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 14px;
  text-align: center;
}

.box-img {
  align-items: center;
  border-radius: 50%;
  background-color: #d5dffe;
  box-shadow: inset -3px -6px 4px 0px #fff, inset 3px 2px 10px 1px #746f6f;
  display: flex;
  justify-content: center;
  min-width: 273px;
  min-height: 273px;
  overflow: hidden;
}

.img-content {
  border-radius: 50%;
  height: 90%;
  width: 90%;
  object-fit: contain;
}

.box-track {
  max-height: 50%;
}

.header-box-track {
  color: #2c4271;
  display: inline-block;
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.track-list {
  height: calc(300px - 50px);
  width: 100%;
  overflow: scroll;
  padding: 10px 0px;
}
